#filter-section{
    min-height: 70px;
}

#main-section{
    height: calc(100vh - 130px);
}

.animal-color{
    color: blue;
}

.vegetable-color{
    color: orange;
}

.user-color{
    color: purple;
}